<head>
    <link rel="stylesheet" href="/css/book-manage.css">
</head>
<div class="book">
    <div class="book__title">
        <table class="book__title-table">
            <thead>
                <tr>
                    <td><i class="fas fa-book"></i> Tên sách</td>
                    <td><i class="fas fa-clock"></i> Thời gian</td>
                    <td><i class="fas fa-dollar-sign"></i> Giá</td>
                    <td><i class="fas fa-edit"></i>Mô tả</td>
                    <td><i class="fas fa-cog"></i></td>
                </tr>
            </thead>
            <tbody>
                {{#each listBook}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.dateOfSubmit}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.description}} </td>
                    <td>
                        <button onclick="load('{{this._id}}')" class="btn-icon-edit"><i
                                class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="book__title-pagination">
            <ul class="pagination">
                <li class="pagination__item">
                    <a href="" class="pagination__link">
                        <i class="fas pagination__icon fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="pagination__item"><a href="" class="pagination__link">1</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">2</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">4</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">5</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">6</a></li>
                <li class="pagination__item">
                    <a href="" class="pagination__link">
                        <i class="fas pagination__icon fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="book__edit">
        <h3 class="book__edit-title">Cập nhật thông tin chi tiết từng cuốn sách tại đây.</h3>

        <form action="/admin/book-manage" method="POST" enctype="multipart/form-data" class="form" id="edit-form">
            <div class="spacer"></div>

            <div class="form-group">
                <label class="form-label">Tên sách</label>
                <input id="name" name="name" rules="required" type="text" placeholder="VD:Đời ngắn đừng ngủ dài"
                    class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Ngày đăng</label>
                <input id="dateOfSubmit" name="dateOfSubmit" rules="required" type="date" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Giá</label>
                <input id="price" name="price" rules="required" type="text" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">mô tả</label>
                <textarea name="description" id="description" class="form-control" rules="required" cols="30"
                    rows="10"></textarea>
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Thể loại</label>
                <select name="category" id="category">
                    <option value="Đời sống">Đời sống</option>
                    <option value="Tiểu thuyết">Tiểu thuyết</option>
                    <option value="Lãng mạn">Lãng mạn</option>
                    <option value="Trinh thám">Trinh thám</option>
                </select>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Tác giả</label>
                <input id="author" name="author" rules="required" type="text" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Nhà xuất bản</label>
                <input id="publisher" name="publisher" rules="required" type="text" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Tải ảnh sản phẩm</label>
                <input id="load-image" name="image" rules="required" type="file" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-image">
                <img id="image" src="/images/tuoi-tre-dang-gia-bao-nhieu.jpg" alt="">
            </div>

            <div class="form-group form-group--modifier">
                {{!-- <button class="form-submit">Cập nhật</button> --}}
                <button id="form-submit" class="form-submit">Thêm mới</button>
            </div>
        </form>
    </div>
</div>
<div class="overlay">
    <div class="popup">
        <h3 class="popup__tile">Bạn chắc chắn?</h3>
        <p class="popup__description">Bạn có thật sự muốn xóa cuốn sách này?</p>
        <form action="/admin/book-manage" class="pop__up-button">
            <a class="pop__up-button-exit">Thoát</a>
            <button class="pop__up-button-ok">Đồng ý</button>
        </form>
    </div>

    <script>
        var observe;
        if (window.attachEvent) {
            observe = function (element, event, handler) {
                element.attachEvent('on' + event, handler);
            };
        }
        else {
            observe = function (element, event, handler) {
                element.addEventListener(event, handler, false);
            };
        }
        ////


        function init() {
            var description = document.getElementById('description');
            function resize() {
                description.style.height = '25px';
                description.style.height = description.scrollHeight + 'px';
            }
            /* 0-timeout to get the already changed description */
            function delayedResize() {
                window.setTimeout(resize, 0);
            }
            observe(description, 'change', resize);
            observe(description, 'cut', delayedResize);
            observe(description, 'paste', delayedResize);
            observe(description, 'drop', delayedResize);
            observe(description, 'keydown', delayedResize);

            description.select();
            resize();
        }
        function modal() {

            var exitButton = document.querySelector('.pop__up-button-exit');
            exitButton.onclick = function () {
                var overlay = document.querySelector('.overlay');
                var popup = document.querySelector('.popup');
                popup.style.display = 'none';
                overlay.style.display = 'none';
            }
            var orderCancelList = document.querySelectorAll('.btn-icon-remove');
            orderCancelList.forEach(orderCancel => {
                orderCancel.onclick = function () {
                    var overlay = document.querySelector('.overlay');
                    var popup = document.querySelector('.popup');
                    popup.style.display = 'block';
                    overlay.style.display = 'block';
                }
            })

        }
        function load(id) {
            $.ajax({
                url: '/admin/book-manage/store',
                type: 'POST'
            })
                .done(books => {
                    books.forEach(book => {
                        if (book._id == id.toString()) {
                            document.querySelector('#name').focus();
                            document.querySelector('#name').value = book.name;
                            // book.dateOfSubmit = moment().format('YYYY-MM-DD');
                            document.querySelector('#dateOfSubmit').value = book.dateOfSubmit;
                            document.querySelector('#price').value = book.price;
                            document.querySelector('#description').value = book.description;
                            document.querySelector('#category').value = book.category;
                            document.querySelector('#author').value = book.author;
                            document.querySelector('#publisher').value = book.publisher;
                            document.querySelector('#image').src = '/' + book.image;
                        }
                    })
                })
        }
        // ajax show message!
        const form = document.getElementById("edit-form")
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            var file = $('#load-image').get(0).files;
            formData.append('image', file)
            for (var value of formData.values()) {
                console.log(value);
            }
            $.ajax({
                url: '/admin/book-manage',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
            }).done(function (data) {
                // If successful
                console.log(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                // If fail
                console.log(textStatus + ': ' + errorThrown);
            });



        });
        window.onload = init();
        window.onload = modal();
    </script>