<head>
    <link rel="stylesheet" href="/css/book-manage.css">
</head>
<div class="book">
    <div class="book__title">
        <table class="book__title-table">
            <thead>
                <tr>
                    <td><i class="fas fa-book"></i> Tên sách</td>
                    <td><i class="fas fa-clock"></i> Thời gian</td>
                    <td><i class="fas fa-dollar-sign"></i> Giá</td>
                    <td><i class="fas fa-edit"></i>Mô tả</td>
                    <td><i class="fas fa-cog"></i></td>
                </tr>
            </thead>
            <tbody>
                {{#each listBook}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.dateOfSubmit}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.description}} </td>
                    <td>
                        <button onclick="load('{{this._id}}')" class="btn-icon-edit"><i
                                class="fas fa-pencil-alt"></i></button>
                        <button dataId="{{this._id}}" class="btn-icon-remove"><i
                                class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="book__title-pagination">
            <ul class="pagination">
                <li class="pagination__item">
                    <a href="" class="pagination__link">
                        <i class="fas pagination__icon fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="pagination__item"><a href="" class="pagination__link">1</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">2</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">4</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">5</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">6</a></li>
                <li class="pagination__item">
                    <a href="" class="pagination__link">
                        <i class="fas pagination__icon fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="book__edit">
        <h3 class="book__edit-title">Cập nhật thông tin chi tiết từng cuốn sách tại đây.</h3>

        <div action="/admin/book-manage" method="POST" enctype="multipart/form-data" class="form" id="edit-form">
            <div class="spacer"></div>

            <div class="form-group">
                <input id="id" name="id" required rules="required" hidden="true" type="text"
                    placeholder="VD:Đời ngắn đừng ngủ dài" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Tên sách</label>
                <input required id="name" name="name" rules="required" type="text" placeholder="VD:Đời ngắn đừng ngủ dài"
                    class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Ngày đăng</label>
                <input required id="dateOfSubmit" name="dateOfSubmit" rules="required" type="date" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Giá</label>
                <input required id="price" name="price" rules="required" type="text" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">mô tả</label>
                <textarea name="description" id="description" class="form-control" rules="required" cols="30"
                    rows="10"></textarea>
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Thể loại</label>
                <select name="category" id="category">
                    <option value="Đời sống">Đời sống</option>
                    <option value="Tiểu thuyết">Tiểu thuyết</option>
                    <option value="Thiếu nhi">Thiếu nhi</option>
                    <option value="Kỹ năng">Kỹ năng</option>
                    <option value="Giáo dục">Giáo dục</option>
                    <option value="Anime Nhật Bản">Anime Nhật Bản</option>
                    <option value="Hành động">Hành động</option>
                    <option value="Lãng mạn">Lãng mạn</option>
                    <option value="Trinh thám">Trinh thám</option>
                </select>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Tác giả</label>
                <input required id="author" name="author" rules="required" type="text" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Nhà xuất bản</label>
                <input required id="publisher" name="publisher" rules="required" type="text" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Tải ảnh sản phẩm</label>
                <input multiple id="myfile" name="myfile" rules="required" type="file" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-image">
                <img id="image" src="" alt="">
            </div>

            <div class="form-group form-group--modifier">
                <button id="updateBtn" class="form-submit">Cập nhật</button>
                <button id="addBtn" class="form-submit">Thêm mới</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay"> 
    <div class="popup">
        <h3 class="popup__tile">Bạn chắc chắn?</h3>
        <p class="popup__description">Bạn muốn xóa cuốn sách này?</p>
        <form action="/admin/book-manage" class="pop__up-button">
            <a class="pop__up-button-exit">Thoát</a>
            <button class="pop__up-button-ok">Đồng ý</button>
        </form>
    </div>
    <form name="form-delete" method="post"></form>
    <script src="/javascripts/book-manage.js">
        //// Resize textarea
      
    </script>