<head>
    <link rel="stylesheet" href="css/order.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<div class="popup">
    <h3 class="popup__tile">Bạn chắc chắn?</h3>
    <p class="popup__description">Bạn có thật sự muốn hủy đơn hàng?</p>
    <div id="submit-form-delete" class="pop__up-button">
        <a class="pop__up-button-exit">Thoát</a>
        <button type='submit' class="pop__up-button-ok" id="order-cancel-btn-ok">Đồng ý</button>
    </div>
</div>
<div class="grid wide">
    <div class="row order__title">
        <h3 class="order__title-h3">Đơn hàng của bạn</h3>
    </div>
    <div class="row order__status">
        <h5 class="order__status-h5 order__status-h5-modifier">Đang chờ xử lí</h5>
        <h5 class="order__status-h5">Đang giao hàng</h5>
        <h5 class="order__status-h5">Đã giao hàng</h5>
    </div>
    {{#each listOrder}}
    <div class="order__have-products">
        <div class="row order__date">
            <ul class="oder__date-list">
                <li class="order__date-item order__date-item--date">Date: {{this.createdAt}}</li>
                <li class="order__date-item order__date-item--Total">Total: {{convertToVND this.totalPrice}}</li>
            </ul>
        </div>
        <div class="row order__info">
            <div class="col l-6">
                <div class="order__order__product">
                    <h3 class="order__order__product-h3">Sản phẩm</h3>
                </div>
            </div>
            <div class="col l-6">
                <div class="row">
                    <div class="col l-4">
                        <div class="order__details">
                            <h3 class="order__details-h3">Đơn giá</h3>
                        </div>
                    </div>
                    <div class="col l-4">
                        <div class="order__details">
                            <h3 class="order__details-h3">Số lượng</h3>
                        </div>
                    </div>
                    <div class="col l-4">
                        <div class="order__details">
                            <h3 class="order__details-h3">Thành tiền</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="list__product">
            {{#each this.listProduct}}
            <div class="row order__product">
                <div class="col l-6">
                    <div class="order__product-info">
                        <img src="{{this.productId.image}}" alt="" class="order__product-info-img">
                        <h3 class="order__product-info-name">{{this.productId.name}}</h3>
                    </div>
                </div>
                <div class="col l-6">
                    <div class="row">
                        <div class="col l-4 order__product-bill">
                            <h3 class="order__product-bill-fee">{{convertToVND this.productId.price}}</h3>
                        </div>
                        <div class="col l-4 order__product-bill--modifier">
                            <div class="order__product-bill-amount">
                                <span id="order__product-bill-amount"
                                    class="order__product-bill-amount-span">{{this.quantity}}</span>
                            </div>
                        </div>
                        <div class="col l-4 order__product-bill">
                            <h3 class="order__product-bill-fee-total">{{multiplication this.productId.price
                                this.quantity}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="order__cancel">
            <button orderId="{{this._id}}" class="order__cancel-button">Hủy đơn hàng</button>
        </div>
    </div>
    {{/each}}
    {{#unless listOrder}}
    <div class="order__no-product">
        <img src="/images/no-cart.png" alt="" class="order__no-product-img">
        <h3 class="order__no-product-h3">
            Không có sản phẩm
        </h3>
    </div>
    {{/unless}}

</div>
<div class="overlay">

</div>
<script>
    (function () {

        var exitButton = document.querySelector('.pop__up-button-exit');
        exitButton.onclick = function () {
            var overlay = document.querySelector('.overlay');
            var popup = document.querySelector('.popup');
            popup.style.display = 'none';
            overlay.style.display = 'none';
        }
        var orderCancelList = document.querySelectorAll('.order__cancel-button');
        orderCancelList.forEach(orderCancel => {
            orderCancel.onclick = function () {
                var overlay = document.querySelector('.overlay');
                var popup = document.querySelector('.popup');
                popup.style.display = 'block';
                overlay.style.display = 'block';
                let orderId = orderCancel.getAttribute('orderId');
                document.getElementById('order-cancel-btn-ok').addEventListener('click', () => {
                    console.log(2)
                    console.log(orderId)
                    $.ajax({
                        url: '/my-order',
                        method: 'DELETE',
                        data: {
                            orderId: orderId,
                        },
                    })
                        .then((response) => {
                            console.log(response);
                            window.location.href = '/my-order'
                        })
                        .catch((error) => {
                            console.log(error);
                        })

                })

            }
        })

    })()

</script>
{{!--
<script src="javascripts/order.js"></script> --}}