<head>
    <link rel="stylesheet" href="/css/product.css">
    <script src="/socket.io/socket.io.js"></script>

</head>
<div class="grid wide">
    <div class="row product">
        <div class="col l-3 m-12 flex-in-tablet hide-on-mobile">
            <div class="category">
                <div class="title">
                    <hr class="title-line">
                    <h3 class="category__title">Thể loại</h3>
                    <hr class="title-line">
                </div>
                <ul class="category__list">
                    <li class="category__item">
                        <a href="" class="category__link">
                            Tiểu thuyết
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Đời sống
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Thiếu nhi
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Truyện trinh thám
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Kỹ năng
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Hành động
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {{#with book}}
        <div class="col l-9">
            <div class="row xsm-gutter">
                <div class="col l-4 product__image">
                    <img src="{{image}}" alt="" class="product__image--img">

                </div>
                <div class="col l-6 product__info">
                    <ul class="product__info-list">
                        <li class="product__info-item">
                            <h3>{{name}}</h3>
                        </li>
                        <li class="product__info-item">
                            Nhà cung cấp: {{publisher}}
                        </li>
                        <li class="product__info-item product__info-item--price">
                            {{convertToVND price}}
                        </li>
                        <li class="product__info-item">
                            Thể loại: {{category}}
                        </li>
                        <li class="product__info-item">
                            Ngày xuất bản: {{dateOfSubmit}}
                        </li>
                        <li class="product__info-item">
                            Tác giả: {{author}}
                        </li>
                        <li class="product__info-item">
                            <div class="product__info-amount">
                                <button id="product__info-amount-sub" class="product__info-amount-math">
                                    <i class="product__info-amount-icon fas fa-minus"></i>
                                </button>
                                <span id="product__info-amount" class="product__info-amount-span">1</span>
                                <button id="product__info-amount-sum" class="product__info-amount-math">
                                    <i class="product__info-amount-icon fas fa-plus"></i>
                                </button>
                            </div>
                        </li>
                        <li class="product__info-item">
                            <div class="product__info-add-to-cart">
                                <a id="add-to-cart" class="product__info-add-to-cart--button"><i
                                        class="product__info-add-to-cart--icon fas fa-cart-plus"></i> Thêm vào giỏ
                                    hàng</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <form action="/product/{{_id}}" method="POST" id="form-submit"></form>

            {{/with}}

            <div class="row">
                <div class="col l-10">
                    <div class="review__title">
                        <h2>Review sách</h2>
                    </div>
                    <div class="review__my-comment">
                        <textarea placeholder="Thêm bình luận..." role="textbox" contenteditable
                            class="review__textarea" id="review__textarea" cols="30" rows="10"></textarea>
                        <div>
                            <span id="people-focusing-id" class="people-focusing">Có người đang nhập ...</span>
                            <button id="comment-btn" class="review__my-comment--btn">Bình luận</button>
                        </div>
                    </div>
                    <div class="review__list-comment">
                        {{#each listReview}}
                        <div class="review__comment row no-gutters">
                            <div class="col l-1">
                                <div class="review__avatar">
                                    <img src="{{this.user.avatar}}" alt="">
                                </div>
                            </div>
                            <div class="col l-11">
                                <div class="review__content">
                                    <span class="content__user-name">{{this.user.fullname}}</span>
                                    <div class="content__details">
                                        <p>{{this.content}}</p>
                                    </div>
                                    <div class="content__react" id="{{this._id}}">
                                        <span onclick="like('{{this._id}}')" class="content__react-like">
                                            <i class="fas fa-thumbs-up"></i>

                                            <span class="content__react-amount">{{length this.likes}}</span>
                                        </span>
                                        {{!-- <span class="content__react-dislike"><i class="fas fa-thumbs-down"></i>
                                            <span class="content__react-amount"></span></span> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay">
    <div class="popup">
        <h3 class="popup__tile">Thêm giỏ hàng thành công <i class="fas fa-check"></i></h3>
        <p class="popup__description">Di chuyển đến giỏ hàng của bạn?</p>
        <div class="pop__up-button">
            <a class="pop__up-button-exit">Thoát</a>
            <a href="/cart" class="pop__up-button-ok">Đồng ý</a>
        </div>
    </div>
    <script src="/javascripts/socketReview.js"></script>
    <script src="/javascripts/product.js"></script>