<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<div class="grid wide">
    <div class="row margin-bottom">
        <div class="col l-2">
            <div class="space"></div>
        </div>
        <div class="col l-9 b-color">
            <div class="profile__title">
                <h2>Hồ sơ của tôi</h2>
                <h3>Quản lý thông tin hồ sơ để bảo mật tài khoản</h3>
            </div>
            <div class="row ">
                <div class="form" enctype="multipart/form-data">
                    <div class="col l-8">
                        <div class="profile">
                            {{#if user}}

                            <div class="profile__details">
                                <div class="form-group">
                                    <label for="">Họ & Tên</label>
                                    <input required type="text" name="fullname" id="fullname" value="{{user.fullname}}">
                                </div>
                                <div class="form-group">
                                    <label for="">Địa chỉ</label>
                                    <input required type="text" name="address" id="address" value="{{user.address}}">
                                </div>
                                <div class="form-group">
                                    <label for="">Số điện thoại</label>
                                    <input required type="text" name="phone-number" id="phone-number" value="{{user.phoneNumber}}">
                                </div>
                                <div class="form-group form-group--modifier">
                                    <span class="gender-label" for="">Giới tính</span>
                                    <input type="radio" name="gender" value="male" id="male" {{setChecked 'male' user.gender}}>
                                    <label for="male">Nam</label>
                                    <input type="radio" name="gender" value="female" id="female" {{setChecked 'female' user.gender}}>
                                    <label for="female">Nữ</label>
                                    <input type="radio" name="gender" value="other" id="other" {{setChecked 'other' user.gender}}>
                                    <label for="other">Khác</label>
                                </div>
                                <div class="form-group">
                                    <label for="">Ngày sinh</label>
                                    <input type="date" name="dob" id="dob" value="{{user.dob}}">
                                </div>
                                <div class="form-group">
                                    <button class="btn--save" id="btn--save-id">Lưu thông tin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l-4">
                        <div class="avatar">
                            <div class="avatar__img">
                                <img src="{{orImage user.avatar}}" alt="">
                            </div>
                            {{/if}}
                            <div class="avatar__submit">
                                <input type="file" id="avatar-file" name="avatar-file">
                                <label class="avatar__submit-btn" for="avatar-file">Chọn ảnh</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/profile.js"></script>